@{
    ViewData["Title"] = "Acerca";
}
    <div style="align-items:safe center">
        <h3>Y... ¿Que vamos a cocinar hoy?</h3>

        <br />
        <img src="~/img/pp.jpg" alt="Cinque Terre" style=" border-radius: 150px; width:200px;
                        height:200px; line-height:40px ">
        <span class="subheading">Hola soy Nicolás Durante, y esto es RecetApp.</span>

    </div>

    <div class="text-inner align-self-start">

        <p>
            <h5>Todas las personas a las cuales les gusta cocinar tienen su colección de recetas:</h5>
            Puede ser un cuaderno personal escrito a mano, puede ser una carpeta con recortes y recetas escritas en servilletas de
            papel, o puede ser digital, como lo es RecetApp. <br />
        </p>
        <h5>RecetApp es tu colección de recetas digital.</h5>
        <p>
            Acá estan todas las recetas que preparo en mi casa. Algunas
            surgen de adaptaciones de otras recetas, otras son inventos del momento y otras son «prestadas», por
            cocineros reconocidos, por mi mamá o por mi abuela.
        </p>
            <br />
    </div>