@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        <img src="~/images/Email-Confirmation.png" />
        Gracias por confirmar tu Email. Ahora puedes acceder al sistema.
    </p>
</div>

